<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}}

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Grupo Coworking 5</h1>
      <h2>Saúde</h2>
    </div>  
  </div>
  <div class="container">
    <div class="col-12">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore dolorem a unde modi iste odio amet, fugit fuga aliquam, voluptatem maiores animi dolor nulla magnam ea! Dignissimos aspernatur, cumque!</span>
  <span>Modi alias culpa inventore deserunt accusantium amet earum soluta consequatur quasi. Maiores praesentium modi explicabo enim dolores quaerat ipsa, quos voluptas ipsum ad ullam quia, odio sint, sunt neque itaque.</span>
  <span>Sit excepturi quasi veritatis aperiam at deleniti nostrum, tenetur accusantium amet in facilis, aliquam consequuntur doloremque. Deserunt veniam mollitia at temporibus eligendi, quisquam. Hic aperiam minus natus amet necessitatibus ea.</span>
  <span>Ad molestiae tenetur rerum cum ex esse voluptatibus atque, consequatur impedit quia non ipsa totam fuga voluptatum vitae eius sint veritatis expedita ipsam vel laudantium adipisci consequuntur quo recusandae aliquid.</span>
  <span>Fugit aliquid dignissimos, repellendus unde modi, maxime ad? Atque, maiores unde aut ea repellendus nulla natus, iusto consequatur reiciendis adipisci voluptas saepe itaque aliquam sapiente labore pariatur tenetur omnis modi.</span>
    </div>
  </div>

</body>

</html>